{% extends 'CartApiBundle::base.html.twig' %}

{% block body %}
<div id="wrapper">
        <h1>Cart API</h1>
        <a href="{{ path('nelmio_api_doc_index') }}">Nelmio api doc</a>
    </div>
{% endblock %}
